#grid {
    border: 1px solid black;
    border-collapse: collapse;
}

#grid tr, #grid td {
    border: 1px solid black;
}

.sprite {
	background: url('imgs/Walk (9).png') no-repeat -100px -24px;
	width: 287px;
	height: 430px;
}
